.centered {
  text-align: center;
}

#title{
    margin-top: 50px;
}

.crop {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.crop img {
    width: 100%;
    height: 200;
    margin: -200px 0 -200 0;
}