<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.css" />

<br>
<br>
<div class="row">
  <div class="col 12 crop" style="text-align: center">
    <img src="https://travelandleisure.mx/wp-content/uploads/2018/08/vin%CC%83edo.jpg">
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-4 centered">
      <h1 class="centered" id="title">Temperatura actual {{temp}}</h1>
    </div>
    <div class="col-4 centered">
      <img width="200" alt="logo" src="../assets/term.png">
    </div>
    <div class="col-2">
    </div>
  </div>
</div>


<router-outlet></router-outlet>
